@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap");
:root {
	--main-bg: #f2f2f2;
	--hightlight-color: #03a696;
	--darg-green: #025159;
	--heading: #636c6d;
	--white: #ffffff;
	--black: #000;
	--medium-green: #3d8a8b;
	--footer-color: #04747f;
	--border-radius-image: 5px;
	--padding-left-right: 0 20px;
	--main-padding: 10px 0 0 0;
	--padding-left: 20px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: "PT sans", serif;
	background: var(--main-bg);
	font-size: 100%;
}

p {
	font-family: "Lucida Sans", sans-serif;
	font-size: 100%;
	width: 100%;
	line-height: 1rem;
	display: inline-block;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	border-radius: var(--border-radius-image);
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 1.5fr 5.5fr 0.1fr;
	grid-template-areas:
		"nav"
		"hero"
		"main"
		"footer";

	grid-gap: 0.5rem;
}

nav {
	grid-area: nav;
}

.hero {
	grid-area: hero;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.hero h1 {
	font-family: "Lucida Grande", Verdana, sans-serif;
	width: 100%;
	color: var(--white);
	padding: 5px;
	font-size: 90%;
	background-color: rgba(209, 248, 236, 0.4);
}

main {
	background: var(--main-bg);
	grid-area: main;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	padding: var(--padding-left-right);
	max-width: 100%;
	height: 100%;
	display: block;
}

footer {
	background: var(--main-bg);
	grid-area: footer;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	max-width: 100%;
	max-height: 20%;
	margin: 0 auto;
}

footer a {
	color: var(--darg-green);
	text-align: center;
}

.submenu {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	height: 40px;
	padding: 5px 20px;
}

main h5 {
	width: 100%;
	font-family: "Lucida Grande", sans-serif;
	font-size: 100%;
	font-weight: 900;
	text-align: left;
	display: inline-block;
	padding: 0px 5px;
	cursor: pointer;
}

h5 a {
	color: var(--black);
	font-family: "Lucida Grande", sans-serif;
}

h5 a:hover {
	color: var(--hightlight-color);
}

.social-share {
	width: 100%;
	display: block;
	text-align: right;
	/* padding-right: 10px; */
}

.fab,
.far {
	padding: 2px 5px;
	font-size: 100%;
	color: var(--black);
}

.hero-img {
	width: 100%;
	height: 100px;
	background-position: center;
	background-size: cover;
}

.hero-img img {
	max-width: 100%;
	border-radius: var(--border-radius-image);
}

.heading-1 {
	text-transform: uppercase;
}

main h2 {
	width: 100%;
	font-family: "PT sans", serif;
	color: var(--darg-green);
	font-size: 120%;
}

main h4 {
	width: 100%;
	font-size: 100%;
	color: var(--heading);
	padding: 10px 0 20px 0;
}

.content-box h2,
.content-box h3,
.content-box h4 {
	width: 100%;
	font-family: "PT sans", serif;
	color: var(--black);
	text-align: left;
	padding: 10px 5px;
	margin: 0 auto;
}

.content-box h5 {
	padding: 5px;
	font-family: "PT sans", serif;
	margin: 0 auto;
}

.content-box h2 {
	font-size: 120%;
}

.content-box h3 {
	font-size: 110%;
}

.content-box h4 {
	font-size: 100%;
}

.content-box ul {
	font-size: 100%;
	padding: 10px 0 10px 20px;
	margin: 0;
	text-align: left;
}

.content-box li {
	font-size: 100%;
	list-style-type: disc;
	margin: 0;
	text-align: left;
}

/*Page content*/
.content-box {
	width: 100%;
	background-color: var(--white);
	padding: 10px 0px;
	border-radius: var(--border-radius-image);
	display: flex;
	flex-direction: column;
}

.text-box {
	width: 100%;
	padding: 10px 5px;
	font-size: calc(100% + 1vw);
}

p {
	line-height: 1.5rem;
	padding: 10px 5px;
}

/* WEB RESPONSIVE */
@media screen and (min-width: 375px) {
	.hero-img {
		height: 120px;
	}
	main h2 {
		font-size: 130%;
	}
	main {
		width: 375px;
	}
}

@media screen and (min-width: 414px) {
	.hero-img {
		height: 120px;
	}
	main h2 {
		font-size: 130%;
	}
	main {
		width: 414px;
	}
	.comment-respond {
		width: 320px;
	}
}

@media screen and (min-width: 500px) {
	.hero-img {
		height: 120px;
	}
}

@media screen and (min-width: 768px) {
	nav {
		padding: var(--padding-left-right);
		padding-top: 10px;
	}

	main {
		width: 768px;
	}

	.fab,
	h5 a,
	.far {
		font-size: 130%;
	}

	.comment-respond {
		width: 760px;
		padding-bottom: 50px;
	}

	.comment-respond h3 {
		padding-top: 100px;
		color: var(--darg-green);
	}

	.comment-note p {
		font-size: 100%;
	}

	.hero-img {
		height: 200px;
	}

	.hero h1 {
		width: 100%;
		color: var(--white);
		padding: 10px;
		font-size: 180%;
	}

	.submenu {
		height: 60px;
		padding: 5px 20px;
	}

	.content-box {
		display: flex;
	}

	textarea {
		height: 150px;
	}

	main h2 {
		font-size: 170%;
	}

	p {
		line-height: 2.3rem;
		padding: 20px;
		margin: 0 auto;
	}

	.content-box h2,
	.content-box h3,
	.content-box h4 {
		padding: 15px 20px;
		line-height: 3rem;
	}

	.content-box li {
		line-height: 3rem;
	}

	.content-box h5 {
		padding: 20px;
	}

	.content-box ul {
		padding: 10px 0 10px 50px;
		margin: 0;
	}

	.content-box h2 {
		font-size: 120%;
	}

	.content-box h3 {
		font-size: 120%;
	}

	.content-box h4 {
		font-size: 110%;
	}

	footer a {
		font-size: 120%;
	}
}

@media screen and (min-width: 834px) {
	.hero-img {
		height: 220px;
	}

	main {
		width: 95%;
	}

	.submenu {
		height: 70px;
	}

	main h2 {
		font-size: 200%;
		padding-left: 0px;
		text-align: left;
		width: 85%;
		margin: 0 auto;
	}

	main h4 {
		font-size: 120%;
		padding: 0;
		margin: 0 auto;
		text-align: left;
		width: 85%;
	}

	.content-box {
		background: var(--main-bg);
		width: 90%;
		margin: 0 auto;
	}

	.image img {
		height: 200px;
	}

	footer {
		justify-content: center;
		float: center;
	}

	footer a {
		font-size: 130%;
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	main {
		margin: 0 auto;
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	.image img {
		height: 240px;
	}

	main h2 {
		font-size: 240%;
		margin: 0 auto;
		text-align: left;
	}

	.content-box {
		width: 90%;
		margin: 0 auto;
	}

	.hero-img {
		height: 250px;
	}

	.hero h1 {
		font-size: 180%;
		color: black;
	}

	.fab,
	h5 a,
	.far {
		padding: 10px;
		font-size: 180%;
	}

	p {
		line-height: 2.5rem;
		width: 780px;
	}

	footer a {
		font-size: 140%;
	}
}

@media screen and (min-width: 1280px) {
	main {
		width: 80%;
	}

	main h2 {
		font-size: 250%;
		padding-left: 75px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}

	footer a {
		font-size: 120%;
	}

	.submenu {
		margin-bottom: 50px;
	}

	.fab,
	h5 a,
	.far {
		padding: 10px;
		font-size: 200%;
	}

	main h4 {
		font-size: 120%;
		padding-left: 0px;
		width: 85%;
		margin: 0 auto;
	}

	.content-box {
		padding: 0;
	}

	p {
		width: 800px;
	}
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
	main {
		margin: 0 auto;
		width: 80%;
	}

	.image:first-child {
		order: 1;
		width: 40%;
	}

	nav {
		padding-bottom: 20px;
	}

	.hero-img {
		height: 350px;
	}

	.fab,
	h5 a,
	.far {
		font-size: 220%;
		padding: 15px;
	}

	main h2 {
		font-size: 280%;
		padding-left: 130px;
	}

	main h4 {
		font-size: 130%;
		padding-left: 60px;
	}

	.content-box {
		padding: 10px 60px;
		background-color: var(--main-bg);
	}

	p {
		width: 960px;
		align-content: center;
		line-height: 2.5rem;
		margin: 0;
	}

	textarea {
		height: 200px;
	}

	footer a {
		font-size: 150%;
	}
}
