@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
	--main-bg: #f2f2f2;
	--hightlight-color: #03a696;
	--active-button: #1494a0;
	--heading: #025159;
	--white: #ffffff;
	--black: #000;
	--medium-green: #3d8a8b;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	background-color: var(--main-bg);
	color: var(--black);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* padding: 20px 50px; */
}

nav .mainMenu {
	display: flex;
	align-items: center;
}

nav .mainMenu li a {
	display: inline-block;
	padding: 20px;
	text-transform: uppercase;
	font-size: 290%;
	font-weight: 800;
	color: var(--black);
}

nav .mainMenu li a:hover {
	background-color: var(--hightlight-color);
	color: var(--white);
	border-radius: 4px;
}

nav .mainMenu li a.active {
	color: var(--active-button);
	font-weight: bold;
	align-items: center;
}

nav .mainMenu li a.active:hover {
	color: var(--white);
}

nav .openMenu {
	display: none;
	font-size: 2rem;
	margin: 20px;
	cursor: pointer;
}

nav .mainMenu .closeMenu {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

nav .logo {
	margin: 6px;
	max-height: 100%;
	cursor: pointer;
}

@media (max-width: 1440px) {
	nav .logo img {
		max-width: 75%;
	}

	nav .mainMenu li a {
		font-size: 150%;
	}
}

@media (max-width: 1024px) {
	nav .logo img {
		max-width: 65%;
	}

	nav .mainMenu li a {
		font-size: 120%;
	}
}

@media (max-width: 830px) {
	nav .logo img {
		max-width: 55%;
	}

	nav .mainMenu li a {
		font-size: 120%;
	}
}

@media (max-width: 500px) {
	nav {
		padding: 0px 10px;
	}
	nav .mainMenu {
		display: none;
		flex-direction: column;
		width: 100%;
	}

	nav .mainMenu.show {
		display: flex;
		height: 60vh;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--hightlight-color);
		transition: top 0.5s ease;
	}

	nav .openMenu {
		display: block;
	}

	nav .mainMenu .closeMenu {
		display: block;
		position: absolute;
		font-size: 150%;
		top: 120px;
		right: 40px;
	}

	nav .mainMenu li a:hover {
		background: none;
		color: var(--white);
		font-size: 1.6rem;
	}

	nav .mainMenu li a {
		padding: 20px 0px;
	}

	nav .mainMenu li a.active {
		color: var(--white);
		border-radius: 4px;
	}
	nav .logo img {
		max-width: 55%;
	}
}

@media (max-width: 320px) {
	nav .mainMenu li a {
		font-size: 100%;
	}
}
